<div class="container mt-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text"> Account Id </label>
              <input type="text" formControlName="accountId" class="form-control">
              <button type="submit" class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>

          </form>

          <ng-container  *ngIf="accounts">
           <!--<pre>{{ accounts | json }}</pre>-->
            <div>
            <label>Account id:</label>
              <strong>{{ accounts.accountId }}</strong>
            </div>

            <div>
              <label> balance:</label>
              <strong>{{ accounts.balance | number : '1.2-2'}}</strong>
            </div>

            <table class="table">
              <thead>
              <th>ID</th><th>date</th><th>type</th><th>Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of accounts.accountOperationListDTO">
                  <td>{{op.id}}</td>
                  <td>{{op.operationDate | date:'dd-MM-yyyy:HH-mm-ss' }}</td>
                  <td>{{op.operationType}}</td>
                  <td class="text-end">{{op.amount | number :'1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
            <ul class ="nav nav-pills">

            <li *ngFor="let item of [].constructor(accounts.totalPages) ; let page=index">
              <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click) ="gotTopage(page)" class="btn btn-outline-info ms-1 mt-1">{{page}}</a>
            </li>
            </ul>

          </ng-container>

        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form [formGroup] ="operationsFormGroup" (ngSubmit) ="doOperation()" >
            <div class="form-check form-check-inline">
              <input  class="form-check-input" type="radio" formControlName="operationType" value="debit">
              <label class="form-check-label">Debit :</label>
            </div>
            <div class="form-check form-check-inline">
              <input  class="form-check-input"  type="radio" formControlName="operationType" value = "credit">
              <label class="form-check-label">Credit :</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value ="transfer">
              <label class="form-check-label">Transfer :</label>
              <div class="mb-3">
                <label class="form-label">Account destination:</label>
                <input type="text" formControlName="accountDestination" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">amount:</label>
              <input type="text" formControlName="amount" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label">description:</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
